@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  color: #00807E;
  font-family: "Noto Sans SC", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h1Size {
  font-size: 1.5rem;
}

.h2Size {
  font-size: 1.25rem;
}

.priceSize {
  font-size: 2rem;
}

.describeColor {
  color: #818A91;
}

.addTravelPackage {
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 12px;
  max-width: 920px;
  padding: 60px 0;
  margin: 120px auto 100px;
  justify-content: center;
}
@media (max-width: 768px) {
  .addTravelPackage {
    flex-direction: column;
    width: 100%;
    box-shadow: none;
    margin-bottom: 0;
  }
}

.logoImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoImg img {
  max-width: 350px;
  margin-bottom: 21px;
}
@media (max-width: 768px) {
  .logoImg img:last-child {
    display: none;
  }
}

.addPackage, .logoImg {
  width: 40%;
}
@media (max-width: 768px) {
  .addPackage, .logoImg {
    width: 90%;
  }
}

.title {
  box-sizing: border-box;
  display: flex;
  font-weight: 600;
  align-items: center;
  padding-bottom: 4px;
  border-bottom: 3px solid #00807E;
  margin-bottom: 32px;
}
.title i::before {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.addPackage label {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  flex-shrink: 0;
  font-weight: 500;
}
@media (max-width: 576px) {
  .addPackage label {
    flex-direction: column;
    align-items: start;
  }
}
.addPackage label input, .addPackage label select, .addPackage label textarea {
  color: #818A91;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #00807E;
  background: #FAFAFA;
  padding: 8px 12px;
  margin-left: 31px;
  max-width: 80%;
  flex-grow: 1;
}
@media (max-width: 768px) {
  .addPackage label input, .addPackage label select, .addPackage label textarea {
    margin-left: 3.5rem;
  }
}
@media (max-width: 576px) {
  .addPackage label input, .addPackage label select, .addPackage label textarea {
    width: 100%;
    max-width: 95%;
    margin-left: 0;
    flex-grow: 1;
    margin-top: 0.5rem;
  }
}
.addPackage label textarea {
  height: 120px;
}

.addBTN {
  display: flex;
  justify-content: end;
}
.addBTN button {
  cursor: pointer;
  margin-top: 8px;
  background-color: #00807E;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  border: none;
  transition: all 0.3s;
}
.addBTN button:hover {
  transition: all 0.3s;
  background-color: #64C3BF;
}
@media (max-width: 576px) {
  .addBTN {
    justify-content: center;
  }
}

.travelArea {
  background-color: #F7F7F7;
  padding: 56px 0 81px;
}

.wrap {
  max-width: 1120px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrap {
    width: 95%;
  }
}

.travelAreaSearch {
  margin-left: 100px;
  display: flex;
  align-items: center;
}
.travelAreaSearch select {
  color: #818A91;
  padding: 8px 12px;
  width: 255px;
  margin-right: 30px;
}
.travelAreaSearch #chart {
  margin-left: 30%;
}
@media (max-width: 768px) {
  .travelAreaSearch #chart {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .travelAreaSearch {
    flex-direction: column;
  }
  .travelAreaSearch select {
    width: 90%;
    margin-bottom: 1rem;
  }
}

.travelAreaList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 52px;
}
.travelAreaList li {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 31%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  margin-bottom: 38px;
  margin-right: 2%;
}
@media (max-width: 768px) {
  .travelAreaList li {
    width: 48%;
  }
}
@media (max-width: 567px) {
  .travelAreaList li {
    width: 100%;
    margin-right: 0;
  }
}
.travelAreaList .tag {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-50%);
  padding: 8px 20px;
  background-color: #64C3BF;
  color: #fff;
  text-align: center;
  border-radius: 0 5px 5px 0;
}
.travelAreaList .date {
  position: absolute;
  left: 0;
  top: 180px;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #00807E;
  color: #fff;
  padding: 5px 8px;
}

.travelImg {
  display: block;
  overflow: hidden;
}
.travelImg img {
  cursor: pointer;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s;
}
.travelImg img:hover {
  transition: all 0.3s;
  transform: scale(1.2);
}

.no_found {
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.no_found img {
  width: 350px;
}

.travelDescribe {
  padding: 20px 20px 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.describeHeader {
  margin-bottom: 22px;
}
.describeHeader h3 {
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 4px;
  line-height: 33px;
  border-bottom: 2px solid #007572;
  margin-bottom: 1rem;
}
.describeHeader h3:hover {
  color: #64C3BF;
}

.describeFooter {
  display: flex;
  justify-content: space-between;
}
.describeFooter p {
  font-weight: 500;
  display: flex;
  align-items: center;
}
.describeFooter p:first-child i::before {
  width: 20px;
  height: 20px;
  margin-right: 6px;
}/*# sourceMappingURL=練習.css.map */