header{
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    padding: .5rem 0;
    top: 0;
    z-index: 3;
    box-shadow: 0 .5px 5px rgba(0, 0, 0, 0.3);
}
img.headerLogo{
    min-width: 6rem;
    @media (max-width:768px) {
        width: 20vw;
    }
}
.headerNav{
    white-space:nowrap;
    align-items: center;
    justify-content: space-around;
    &:first-child{
        align-items: center;
        flex-direction: column;
    }
    a{
        color: $primaryColor;
        &:hover{
            font-weight: 600;
            color: $primaryColor;
        }
    }
    @media (max-width:1000px) {
        justify-content: end;
    }
    @media (max-width:768px) {
        justify-content: space-around;
    }
}
.more,.userMore{
    position: relative;
    z-index: 2;
    .moreList{
        display: none;
        width: 10rem;
        position: absolute;
        right: 0;
        background-color: #fff;
        border-radius: 8px;
        border: 1px solid $primaryColor;
        overflow: hidden;
        li{
            padding: 8px 10px;
            border-bottom: 1px solid $primaryColor;
            &:first-child{
                display: none;
            }
            &:last-child{
                padding: 14px 18px;
                border-bottom: 0;
                background-color: #fff;
                &:hover{
                    background-color:#fff;
                }
            }
            &:hover{
                background-color: $secondaryColor;
            }
            a{
                display: block;
                padding: 6px 8px;
                background-color: $primaryColor;
                border-radius: 8px;
                white-space: nowrap;
                text-align: center;
                color: #fff;
            }
        }
    }
}
.more:hover{
    .moreList{
        display: block;
        z-index: 3;
    }
}
.search{
    background-color: #fff;
    display: flex;
    label{
        border-bottom: 2px solid $primaryColor;
    }
}
.goToAdmin{
    display: none;
}
.searchList{
    border: none;
    background-color: $primaryColor;
    color: #fff;
    width: 6rem;
    &:hover{
        background-color: $secondaryColor;
    }
}
.searchListColor{
    color: $primaryColor;
}
.searchContent{
    padding: .5rem;
    width: 20rem;
    outline: none;
    border: none;
    @media (max-width:768px) {
        width: 70vw;
    }
    @media (max-width:376px) {
        width: 55vw;
    }
    &::placeholder{
    color:$secondaryColor;
    }
}
.searchBtn{
    position: absolute;
right: .5rem;
top: .3rem;
border: none;
background-color: #fff;
}
a#primaryColor{
    color: $primaryColor;
}