@import 'header';
@import 'footer';
.backTop{
    position:fixed;
    display: none;
    right: 3rem;
    bottom: 3rem;
    z-index: 999;
    @media (max-width:768px) {
        right: 0;
    }
}
body{
    background-image: url(../images/background.png);
    background-size: cover;
    color: $darkColor;
    overflow: hidden;
}
.shoppingCart{
    position: relative;
    .shoppingCartNum{
        text-align: center;
        padding: 2px;
        position: absolute;
        right: -3px;
        bottom: 3px;
        background-color: #B00606;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        font-size: .5rem;
        color: #fff;
    }
}
.loading {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    scroll-behavior: unset;
    z-index: 999;
    animation: loadingBg 4s;
    transition: all 3s;
    width: 100%;
    height: 100%;
    background-color: rgb(254, 221, 221);
}
.simpleLoading{
    display: none;
    @media (max-width:576px) {
        display: block;
    }
}
.loading-box {
    display: inline-block;
    position: relative;
    width: 450px;
    height: 150px;
    @media (max-width:576px) {
        display: none;
    }
    svg {
        position: absolute;
        animation: loading-text 4s;
        width: 100%;
        top: 20px;
        left: 20%;
    }
}
.loadingImg {
    animation: loadingImg 3s ease-in;
    height: 150px;
    width: 100%;
    opacity: .5;
    background-image: url(/images/loading.png);
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes loading-text {
    from {
        opacity: 0;
        height: 0;
    }

    to {
        opacity: 1;
        height: 70px;
    }
}
@keyframes loadingImg {
    from {
        width: 0px;
    }
    to {
        width: 100%;
    }
}