.payInfo,.shoppingFinish{
    background-color: #fff;
    border: 1px solid $secondaryColor;
}
.whoPay,.send,.pay{
    border-bottom: 1px solid $darkColor;
}
.whoPay{
    input{
        margin-top: .5rem;
        border-radius: 8px;
        padding: .5rem;
        letter-spacing: 5px;
        text-indent: 5px;
        border: 1px solid $darkColor;
        outline: none;
    }
}
.payByCardNum{
    margin-left: 3rem;
    margin-top: .5rem;
    display: none;
    flex-direction: column;
    label{
        margin-bottom: .5rem;
        input{
                width: 3rem;
                text-align: center;
                outline: none;
                border: none;
                border-bottom: 1px solid $primaryColor;
                margin-left: 1rem;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }
                -moz-appearance: textfield;
                @media (max-width:576px) {
                    margin-left: 0;
                    width: 15vw;
                    
                }
            }
            span{
                margin: 0 0 0 1rem;
                @media (max-width:576px) {
                    margin: 0 .1rem;
                }
            }
        &:first-child{
            input{
                width: 13rem;
                @media (max-width:768px) {
                    width: 90%;
                    margin-left: 0;
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        
    }
}
#shopNumber{
    width: 50vw;
    padding: .5rem;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
    -moz-appearance: textfield;
    @media (max-width:576px) {
        width: 100%;
    }
}
.endPrice{
    color: $primaryColor;
}