.circle{
    border: 2px solid rgb(33, 166, 33);
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: rotateCircle 4s ease-out;
    &>div{
        width: 5vw;
        height: 10vw;
        border-bottom: 5px solid rgb(33, 166, 33);
        border-right: 5px solid rgb(33, 166, 33);
        border-radius: 0 0 8px 0;
        transform: rotate(45deg);
        @media (max-width:576px) {
        border-bottom: 3px solid rgb(33, 166, 33);
        border-right: 3px solid rgb(33, 166, 33);
        border-radius: 0;
        }
    }
    ~h1{
        color:rgb(33, 166, 33);
        font-size: 3vw;
    }
}
@keyframes rotateCircle {
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(720deg);
    }
}