.baseDBImg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    button{
        padding: 1rem 1.5rem;
        background-color: $primaryColor;
        color: #fff;
        border: none;
        border-radius: 8px;
        white-space: nowrap;
        &:hover{
            background-color: $secondaryColor;
        }
        &:disabled{
            background-color: #E8E7E7;
        }
    }
    
}
.avatar{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #E8E7E7;
    text-align: center;
    font-size: 10vw;
    -webkit-text-stroke: 3px black;
    -webkit-text-fill-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    @media (max-width:992px) {
        font-size: 15vw;
        width: 30vw;
        height: 30vw;
    }
    @media (max-width:576px) {
        min-width: 10rem;
        min-height: 10rem;
        width: 45vw;
        height: 45vw;
        font-size: 5rem;
    }
}
.baseDBList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &>li{
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        border: 1px solid $primaryColor;
        border-radius: 8px;
        min-width: 15rem;
        background-color: #fff;
        margin-bottom: 1rem;
        &:hover{
            background-color: $secondaryColor;
        }
        &:last-child{
            justify-content: center;
            display: none;
        }
    }
}
.newQuestion,.newMessage{
    color: blue;
    margin-left: .5rem;
    display: none;
}

.userDB,.passwordDB{
    display: flex;
    flex-direction: column;
    border: 1px solid $secondaryColor;
    border-radius: 8px;
    padding: 1.5rem 2rem;
    label{
        margin-bottom: 20px;
        input{
            margin-left: 20px;
            outline: none;
            border: none;
            border-bottom: 1px solid $darkColor;
            background-color: rgba(0,0,0,0);
            &:disabled{
                border-bottom: none;
            }
            @media (max-width:768px) {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
.creditCardNum{
    display: none;
    margin: 20px 0 0 5rem;
    @media (max-width:576px) {
        flex-direction: column;
        margin-left: 0;
    }
    label{
        margin-right: 1rem;
        @media (max-width:576px) {
            margin-right: 0;
            flex-wrap: wrap;
        }
        input{
            width: 3rem;
            margin-left: 0;
            text-align: center;
        }
        &:first-child{
            input{
                width: 10rem;
                @media (max-width:576px) {
                    width: 100%;
                }
            }
        }
    }
    
}
.userName{
    border-bottom: 1px solid $secondaryColor;
    padding-bottom: 20px;
}
.creditCardBTN{
    padding: .5rem 1rem;
    margin-left: 1rem;
    background-color: $secondaryColor;
    border: none;
    border-radius: 8px;
    &:hover{
        background-color: $primaryColor;
    }
    &:disabled{
        background-color: #E8E7E7;
    }
}
.userDBChange,.passwordDBChange{
    background-color: $secondaryColor;
    border: none;
    width: 10rem;
    height: 3rem;
    padding: 1rem;
    outline: none;
    border-radius: 8px;
    &:hover{
        background-color: $primaryColor;
    }
}
