<main class="container-sm my3">
    <a href="javascript:history.back();" class="mb-3 d-block h3Size">回上頁 ></a>
    <form class="addArticle">
        <div class="row">
            <div class="col">
                <label class="contentTitle">
                    <h1 class="h1Size">*標題:</h1><input type="text" name="contentTitle" id="contentTitle">
                </label>
                <p class="h2Size my1">*分類:</p>
                <div class="articleType">
                    <label for="worksList" class="choose"><input type="radio" name="type" id="worksList"
                            value="works">作品列表</label>
                    <label for="articlesList" class="choose"><input type="radio" name="type" id="articlesList"
                            value="articles">技巧文章</label>
                </div>

                <p class="h2Size my1">*標籤:</p>
                <div class="tagType">
                    <label for="clothes" class="choose"><input type="radio" name="tag" id="clothes"
                            value="衣服">衣服</label>
                    <label for="doll" class="choose"><input type="radio" name="tag" id="doll" value="玩偶">玩偶</label>
                    <label for="bag" class="choose"><input type="radio" name="tag" id="bag" value="包包">包包</label>
                    <label for="flower" class="choose"><input type="radio" name="tag" id="flower" value="花束">花束</label>
                    <label for="hat" class="choose"><input type="radio" name="tag" id="hat" value="帽子">帽子</label>
                    <label for="fitting" class="choose"><input type="radio" name="tag" id="fitting"
                            value="配件">配件</label>
                    <label for="base" class="choose"><input type="radio" name="tag" id="base" value="針法介紹">針法介紹</label>
                    <label for="interpret" class="choose"><input type="radio" name="tag" id="interpret"
                            value="織圖解讀">織圖解讀</label>
                    <label for="material" class="choose"><input type="radio" name="tag" id="material"
                            value="材料選取">材料選取</label>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column 
        justify-content-center">
                <img src="https://upload.cc/i1/2022/11/15/hgKd54.jpg" alt="" class="contentImg">
                <p class="text-center mt-1">預設封面<span class="small ms-3">(或內容第一張圖片為封面)</span></p>
            </div>
        </div>
        <p class="h2Size my1">是否將此作品製成材料包販售:</p>
        <div class="isSell d-flex flex-column">
            <label for="noSell" class="choose"><input type="radio" name="isSell" id="noSell" value="否">否</label>
            <label for="needSell" class="choose mt1"><input type="radio" name="isSell" id="needSell"
                    value="是,我要販售材料包:">是,我要販售材料包:</label>
        </div>
        <div class="addContent mt1">
            <div class="sellBy">
                <div class="d-flex align-items-md-center flex-column flex-md-row ">
                    <label for="sellBySelf" class="choose my-2"><input type="radio" name="sellSelf" id="sellBySelf"
                            value="我有自己的販售平台:">我有自己的販售平台:</label>
                    <label for="sellSelfUrl" class="flex-grow-1"><input type="text" name="sellSelfUrl" id="sellSelfUrl"
                            placeholder="材料包網址..." class="inputWidth"></label>
                </div>
                <label for="sellByWeb" class="choose my-2"><input type="radio" name="sellSelf" id="sellByWeb"
                        value="我需要委託該平台販售:">我需要委託該平台販售:</label>
            </div>
            <div class="sellByWeb">
                <div class="d-flex flex-column flex-md-row align-items-md-center">
                    <select name="" id="" class="flex-grow-1 material"></select>
                    <select name="" id="" class="flex-grow-1 materialColor">
                        <option value="" selected hidden disabled>請選擇顏色</option>
                    </select>
                    <label for="" class="flex-shrink-1 my-2 my-md-0"><input type="number" name="" id="" min="1"
                            placeholder="需求數量" value="1" class="inputWidth text-center materialNum"></label>
                    <button type="button" class="addMaterial flex-shrink-1">添加</button>
                </div>
                <table class="materialTable">
                    <thead>
                        <tr>
                            <th>所需材料</th>
                            <th>需求數量</th>
                            <th>刪除</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <label for="" class="sellPrice">販售金額:<input type="number" min="0" class="text-center">元</label>
            </div>

        </div>
    </form>
    <div class="articleContent">
        <div id="editor—wrapper">
            <div id="toolbar-container">
                <!-- 工具栏 -->
            </div>
            <div id="editor-container" style="height: 300px;">
                <!-- 编辑器 -->
            </div>
        </div>
        <div class="d-flex justify-content-end mt1">
            <button type="button" class="postArticle">發布</button>
        </div>
    </div>
</main>
<script src="https://unpkg.com/@wangeditor/editor@latest/dist/index.js"></script>
<script src="js/addArticle.js"></script>