<main class="container-sm my3">
    <h1 class="h1Size mb2">後台管理</h1>
    <ul class="row adminNav">
        <li class="col active">商品管理</li>
        <li class="col">訂單管理</li>
        <li class="col">材料包審核</li>
        <li class="col">收益提領審核</li>
    </ul>
    <div class="commodityManagement">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <select name="" id="" class="filterGoods">
                <option value="全部分類" selected>全部分類</option>
                <option value="毛線">毛線</option>
                <option value="鉤針">鉤針</option>
                <option value="配件">配件</option>
                <option value="材料包">材料包</option>
                <option value="收納袋">收納袋</option>
            </select>
            <!-- Button trigger modal -->
            <button type="button" class="addGoods h3Size" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                添加商品
            </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="" class="dialogText">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">新增商品</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="d-block d-md-flex align-items-center mb-3">
                                <label class="d-flex">
                                    <p>*名稱:</p>
                                    <select name="" id="goodsName" required></select>
                                </label>
                                <form class="d-flex align-items-center">
                                    <label class="d-flex">
                                        <p>新增:</p><input type="text" name="" id="newGoodsName" placeholder="請輸入新增名稱">
                                    </label>
                                    <button type="button" class="newGoodsNameBtn">新增</button>
                                </form>
                            </div>
                            <label class="d-flex mb-3">
                                <p>重量</p><input type="number" name="" id="goodsWeight" placeholder="單位:g">
                            </label>
                            <div class="d-block d-md-flex align-items-center mb-3">
                                <label class="d-flex">
                                    <p>*分類:</p>
                                    <select name="" id="goodsType" required></select>
                                </label>
                                <form class="d-flex align-items-center">
                                    <label class="d-flex">
                                        <p>新增:</p><input type="text" name="" id="newGoodsType" placeholder="請輸入新增分類">
                                    </label>
                                    <button type="button" class="newGoodsTypeBtn">新增</button>
                                </form>
                            </div>
                            <label class="d-flex mb-3">
                                <p>*單價:</p><input type="number" id="goodsPrice" class="goodsPrice" min="0" required>
                            </label>
                            <div class="d-block  align-items-center mb-3">
                                <label class="d-flex">
                                    <p>顏色:</p>
                                    <table class="colorsTable">
                                        <thead>
                                            <tr>
                                                <td>顏色</td>
                                                <td>顏色碼</td>
                                                <td>刪除</td>
                                            </tr>
                                        </thead>
                                        <tbody class="goodsColors"></tbody>
                                    </table>
                                </label>
                                <form class="d-flex justify-content-end align-items-center">
                                    <a href="https://www.toodoo.com/db/color.html" target="_blank"
                                        class="me-3">顏色碼參考</a>
                                    <label class="d-flex">
                                        <p>新增:</p><input type="text" name="" id="newGoodsColor" placeholder="格式:顏色-顏色碼">
                                    </label>
                                    <button type="button" class="newColorBtn">新增</button>
                                </form>
                            </div>
                            <div class="d-block d-md-flex mb-3">
                                <p>*商品封面:</p>
                                <img src="" alt="商品封面" class="goodsCover">
                            </div>
                            <label class="d-flex">
                                <p>封面上傳:</p><input type="text" name="" id=""><button
                                    class="button goodsCoverBtn">上傳</button>
                            </label>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary cancel" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary addGoodsData">新增</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="commodityTable mb-3">
            <table class="adminTable">
                <thead>
                    <tr>
                        <th>*名稱</th>
                        <th>重量</th>
                        <th>*分類</th>
                        <th>*單價</th>
                        <th>顏色</th>
                        <th>推薦</th>
                        <th>修改</th>
                        <th>刪除</th>
                    </tr>
                </thead>
                <tbody class="goodsTable"></tbody>
            </table>
        </div>
        <!-- C3圖表 -->
        <div id="commodityChart"></div>
    </div>
    <div class="ordersManagement">
        <p class="h2Size mb-3">訂單詳情</p>
        <div class="d-flex align-items-center mb-3">
            <label for="orderId">訂單編號:<input type="text" name="orderId" id="orderId" placeholder="請輸入訂單編號..."></label>
            <button type="button" class="ms-3 searchOrderId">查詢</button>
        </div>
        <table class="adminTable">
            <thead>
                <tr>
                    <th>訂單編號</th>
                    <th>購買商品</th>
                    <th>所需材料</th>
                </tr>
            </thead>
            <tbody class="searchOrderTable">
                <tr>
                    <td></td>
                    <td>請輸入要查詢的訂單編號</td>
                    <td class="text-start"></td>
                </tr>
            </tbody>
        </table>
        <p class="h2Size my-3">待處理訂單<span class="primaryColor h5 ms-3">*審核完成後將無法更改,請謹慎操作</span></p>
        <table class="adminTable">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>審核狀態</th>
                    <th>理貨進度</th>
                    <th>收件人信息</th>
                    <th>寄件編號</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="pendingOrders"></tbody>
        </table>

        <p class="h2Size my-3">已完成訂單</p>
        <table class="adminTable">
            <thead>
                <tr>
                    <th>編號</th>
                    <th>審核狀態</th>
                    <th>理貨進度</th>
                    <th>收件人信息</th>
                    <th>寄件編號</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="completedOrders"></tbody>
        </table>
    </div>
    <div class="userSellAudit">
        <p class="h2Size mb-3">待審額<span class="primaryColor h5 ms-3">*審核完成後將無法更改,請謹慎操作</span></p>
        <table class="adminTable">
            <thead>
                <tr>
                    <th>材料包名稱</th>
                    <th>售價</th>
                    <th>所需材料</th>
                    <th>審核結果</th>
                    <th>原因</th>
                </tr>
            </thead>
            <tbody class="needReviewedTable"></tbody>
        </table>
        <p class="h2Size my-3">審核完畢</p>
        <table class="adminTable">
            <thead>
                <tr>
                    <th>材料包名稱</th>
                    <th>售價</th>
                    <th>所需材料</th>
                    <th>審核結果</th>
                    <th>原因</th>
                </tr>
            </thead>
            <tbody class="finishReviewedTable"></tbody>
        </table>
    </div>
    <div class="withdrawalApplication">
        <p class="h2Size mb-3">待審額<span class="primaryColor h5 ms-3">*審核完成後將無法更改,請謹慎操作</span></p>
        <table class="adminTable">
            <thead>
                <tr>
                    <th>提領人</th>
                    <th>帳戶</th>
                    <th>銀行代碼</th>
                    <th>提領金額</th>
                    <th>進度</th>
                </tr>
            </thead>
            <tbody class="pendingTransfer"></tbody>
        </table>
        <p class="h2Size my-3">審核完畢</p>
        <table class="adminTable">
            <thead>
                <tr>
                    <th>提領人</th>
                    <th>帳戶</th>
                    <th>銀行代碼</th>
                    <th>提領金額</th>
                    <th>進度</th>
                    <th>撥款日期</th>
                </tr>
            </thead>
            <tbody class="finishTransfer"></tbody>
        </table>
    </div>
</main>
<script src="js/admin-show.js"></script>
<script src="js/admin-commodityManagement.js"></script>
<script src="js/admin-ordersManagement.js"></script>
<script src="js/admin-userSellAudit.js"></script>
<script src="js/admin-withdrawalApplication.js"></script>