<main class="container-sm my3">
    <a href="/worksList" class="d-block mb-3">返回列表 ></a>
    <div class="row">
        <aside class="col-12 col-md-3 articleAside">
            <div class="authorAvatar"></div>
            <p class="my1 ms-3 ms-md-0">圈圈</p>
            <div class="addSave">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"
                    class="saveIcon">
                    <path
                        d="M29.3942 14.4444C29.08 13.717 28.627 13.0578 28.0606 12.5038C27.4937 11.9481 26.8253 11.5065 26.0918 11.203C25.3312 10.8871 24.5154 10.7254 23.6918 10.7273C22.5364 10.7273 21.409 11.0437 20.4293 11.6413C20.1949 11.7843 19.9723 11.9413 19.7614 12.1124C19.5504 11.9413 19.3278 11.7843 19.0934 11.6413C18.1137 11.0437 16.9864 10.7273 15.8309 10.7273C14.9989 10.7273 14.1926 10.8866 13.4309 11.203C12.6949 11.5077 12.0317 11.946 11.4621 12.5038C10.8949 13.0572 10.4418 13.7166 10.1285 14.4444C9.80276 15.2015 9.63635 16.0054 9.63635 16.8327C9.63635 17.6132 9.79573 18.4265 10.1121 19.2538C10.377 19.9452 10.7567 20.6624 11.2418 21.3866C12.0106 22.5327 13.0676 23.728 14.3801 24.9398C16.5551 26.9483 18.709 28.3358 18.8004 28.3921L19.3559 28.7483C19.602 28.9054 19.9184 28.9054 20.1645 28.7483L20.7199 28.3921C20.8114 28.3335 22.9629 26.9483 25.1403 24.9398C26.4528 23.728 27.5098 22.5327 28.2785 21.3866C28.7637 20.6624 29.1457 19.9452 29.4082 19.2538C29.7246 18.4265 29.884 17.6132 29.884 16.8327C29.8864 16.0054 29.7199 15.2015 29.3942 14.4444ZM19.7614 26.8944C19.7614 26.8944 11.4176 21.5483 11.4176 16.8327C11.4176 14.4444 13.3934 12.5085 15.8309 12.5085C17.5442 12.5085 19.0301 13.4648 19.7614 14.8616C20.4926 13.4648 21.9785 12.5085 23.6918 12.5085C26.1293 12.5085 28.1051 14.4444 28.1051 16.8327C28.1051 21.5483 19.7614 26.8944 19.7614 26.8944Z"
                        fill="white" />
                    <rect x="1" y="1" width="38" height="38" rx="19" stroke="white" stroke-width="2" />
                </svg>
                <span class="savedNum h3Size">200</span>
            </div>
        </aside>
        <div class="col col-md-9 articleBg">
            <article class="articleWrap">
                <div class="articleTitle">
                    <h1 class="h1Size textHidden-2">可愛蛋糕水桶包(含圖解)</h1>
                    <div class="flex-shrink-0">
                        <p class="mb1 saved">收藏: 123</p>
                        <p>人氣: 2552</p>
                    </div>
                </div>
                <p class="text-end mt1 createDate">2022-01-23 11:12:30</p>
                <p class="h2Size articleBody mb2 ">
                    最近很火的一款鉤針蛋糕包,這次分享草莓款的,擺在桌上又是一個收納神器!這邊的範例是白奶油蛋糕上面做草莓裝飾，同時草莓可以做抽繩的推拉扣來控制包包的開啟與否。<br>
                    另外如果是第一次接觸鉤針的寶寶們，建議可以購買材料包，可以提供ＱＡ的問答服務，另外加碼提供視頻教學參考。<br>
                    <img src="/images/cakeBag.jpg" alt="">
                    配色方面可以自己選擇喜歡的口味，這裡示範的是巧克力蛋糕，如果家裡有其他的配飾可以在綁在抽繩末端做裝飾唷！
                </p>
                <div class="row articleSell py-3 mb2">
                    <img src="" alt="" class="col">
                    <div class="col articleSellBody">
                        <h2 class="h2Size textHidden-2">草莓蛋糕包-鉤針(附圖解)</h2>
                        <p class="h2Size text-end goodsPrice">$230</p>
                        <button type="button" class="h3Size">購買</button>
                    </div>
                </div>
                <div class="articleQA">
                    <p class="h1Size d-flex align-items-center flex-wrap">問答區<span class="h3Size">僅購買材料包用戶可以查看</span>
                    </p>
                    <label class="question my-3">
                        <textarea name="" id="" class="js-questionText"></textarea>
                    </label>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="addQuestion js-addQuestion">送出</button>
                    </div>
                    <ul class="questionList js-questionList"></ul>
                </div>
            </article>
        </div>


    </div>
</main>
<script src="/js/article.js"></script>