<main class="container-sm my3">
    <div class="chooseBTN">
        <a href="/worksList" class="h2Size">作品列表</a>
        <a href="/articlesList" class="h2Size active">技巧文章</a>
        <a href="/goodsList" class="h2Size">購買商城</a>
    </div>
    <div class="mt2 row">
        <ul class="tagList col-12 col-md">
            <li>分類 ></li>
            <li class="active">全部分類</li>
            <li>針法介紹</li>
            <li>織圖解讀</li>
            <li>材料選取</li>
        </ul>
        <div class="col-lg-10 col-md-9 col">
            <div class="d-flex flex-wrap align-items-center">
                <div class="sortBTN">
                    <button type="button" class="active">綜合</button>
                    <button type="button">最新</button>
                    <button type="button">最熱</button>
                </div>
                <div class="addArticleBTN">
                    <button type="button" class="h3Size addArticle">發布</button>
                </div>
            </div>
            <div class="articles"></div>
            <nav class="pageList">
                <a href="javascript:;">上一頁</a>
                <div class="page"></div>
                <a href="javascript:;">下一頁</a>
            </nav>
        </div>
    </div>
</main>
<script src="js/articlesList.js"></script>