<main class="container-sm my3">
    <a href="/goodsList" class="d-block mb-3">返回列表 ></a>
    <div class="d-flex">
        <img src="/images/yarn2.jpg" alt="" class="goodImg">
        <div class="introduce">
            <div class="d-flex align-items-end flex-wrap">
                <h1 class="h2Size me-3 textHidden-2 goodTitle">五股牛奶棉-50g</h1>
                <span>銷量:12</span>
            </div>
            <div class="d-flex shoppingNum">
                <button>-</button>
                <input type="number" name="" id="" min="1" value="1">
                <button>+</button>
            </div>
            <p class="h2Size primaryColor text-end goodPrice">$20</p>

            <button class="addShoppingCar">加入購物車</button>

        </div>
    </div>
    <hr>
    <p class="h3Size mb-3">下單須知:</p>
    <ol class="mb-3 remind">
        <li>材料包除所需材料外,皆另外附上：2mm號簡易鉤針x1、填充棉x1、記號扣x3</li>
        <li>同一色號但不同批生產的毛線可能會有色差問題,所以建議一次買齊足夠量的材料以避免色差</li>
        <li>下單時,如未選取顏色,我們將隨機發貨</li>
    </ol>
    <p class="h3Size mb-3">顏色<span class="small ms-3">(如無選擇則隨機發貨)</span></p>
    <ul class="d-flex row colors"></ul>
</main>
<script src="/js/commodity.js"></script>