<main class="container-sm my3">
    <div class="chooseBTN">
        <a href="/worksList" class="h2Size">作品列表</a>
        <a href="/articlesList" class="h2Size">技巧文章</a>
        <a href="/goodsList" class="h2Size active">購買商城</a>
    </div>
    <div class="mt2 row">
        <ul class="tagList col-12 col-md js-tagChange">
            <li>分類 ></li>
            <li class="active">全部分類</li>
            <li>毛線</li>
            <li>鉤針</li>
            <li>配件</li>
            <li>材料包</li>
            <li>收納袋</li>
        </ul>
        <div class="col-lg-10 col-md-9 col">
            <div class="sortBTN">
                <button type="button" class="active">綜合</button>
                <button type="button">推薦</button>
                <button type="button">熱門</button>
            </div>
            <ul class="row mt1 text-center goods"></ul>
            <nav class="pageList">
                <a href="javascript:;">上一頁</a>
                <div class="page">第1/4頁</div>
                <a href="javascript:;">下一頁</a>
            </nav>
        </div>
    </div>

</main>
<script src="js/godsList.js"></script>