<main>
    <div class="banner">
        <img src="images/unsplash_jZSL_Dt4Fes.jpg" alt="橫幅">
        <div class="bannerFont">
            <h1 class="h1Size mb-3">蒐集最全的鉤針教程</h1>
            <h2 class="h2Size">初學者也能安心輕鬆上路</h2>
        </div>
    </div>
    <div class="indexWrap">
        <p class="h2Size mb2">熱門作品</p>
        <img src="" alt="" class="test" referrerpolicy="no-referrer">
        <div class="worksList">
            <ol class="mr1 worksChange">
                <li></li>
            </ol>
            <article class="worksImg pointer">
                <img src="" alt="" class="worksImgUrl">
                <div class="worksMask">
                    <p class="h4Size textHidden"></p>
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http:www.w3.org/2000/svg"
                        class="saveIcon">
                        <path
                            d="M29.3942 14.4444C29.08 13.717 28.627 13.0578 28.0606 12.5038C27.4937 11.9481 26.8253 11.5065 26.0918 11.203C25.3312 10.8871 24.5154 10.7254 23.6918 10.7273C22.5364 10.7273 21.409 11.0437 20.4293 11.6413C20.1949 11.7843 19.9723 11.9413 19.7614 12.1124C19.5504 11.9413 19.3278 11.7843 19.0934 11.6413C18.1137 11.0437 16.9864 10.7273 15.8309 10.7273C14.9989 10.7273 14.1926 10.8866 13.4309 11.203C12.6949 11.5077 12.0317 11.946 11.4621 12.5038C10.8949 13.0572 10.4418 13.7166 10.1285 14.4444C9.80276 15.2015 9.63635 16.0054 9.63635 16.8327C9.63635 17.6132 9.79573 18.4265 10.1121 19.2538C10.377 19.9452 10.7567 20.6624 11.2418 21.3866C12.0106 22.5327 13.0676 23.728 14.3801 24.9398C16.5551 26.9483 18.709 28.3358 18.8004 28.3921L19.3559 28.7483C19.602 28.9054 19.9184 28.9054 20.1645 28.7483L20.7199 28.3921C20.8114 28.3335 22.9629 26.9483 25.1403 24.9398C26.4528 23.728 27.5098 22.5327 28.2785 21.3866C28.7637 20.6624 29.1457 19.9452 29.4082 19.2538C29.7246 18.4265 29.884 17.6132 29.884 16.8327C29.8864 16.0054 29.7199 15.2015 29.3942 14.4444ZM19.7614 26.8944C19.7614 26.8944 11.4176 21.5483 11.4176 16.8327C11.4176 14.4444 13.3934 12.5085 15.8309 12.5085C17.5442 12.5085 19.0301 13.4648 19.7614 14.8616C20.4926 13.4648 21.9785 12.5085 23.6918 12.5085C26.1293 12.5085 28.1051 14.4444 28.1051 16.8327C28.1051 21.5483 19.7614 26.8944 19.7614 26.8944Z"
                            fill="white" />
                        <rect x="1" y="1" width="38" height="38" rx="19" stroke="white" stroke-width="2" />
                    </svg>
                </div>
            </article>
        </div>
        <div class="articlesTitle h2Size mb2">
            <p class="active mr2 pointer">最新文章</p>
            <p class=" pointer">熱門文章</p>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="articlesList">
                        <div class="articlesImg">
                            <img src="images/unsplash_6Az0fM7LCUs.jpg" alt="新手必知:環狀起針的無痕引拔">
                            <div class="articlesMask">
                                <p class="small textHidden">新手必知:環狀起針的無痕引拔</p>
                            </div>
                        </div>
                        <article class="pb2">
                            <h3 class="h3Size mb1 textHidden-2">新手必知:環狀起針的無痕引拔</h3>
                            <p class="textHidden-4">
                                舊時的引拔方法會在玩偶上留下一條醜醜的引拔針，讓你心愛的小娃娃留下恐怖的疤痕。不過請你放心！本篇文章將教你如何才能做出完全無痕的引拔方法，讓你的作品上不再有不同其他位置的針法暴露在外，讓他恢復光滑的表面舊時的引拔方法會在玩偶上留下一條醜醜的引拔針，讓你心愛的小娃娃留下恐怖的疤痕。不過請你放心！本篇文章將教你如何才能做出完全無痕的引拔方法，讓你的作品上不再有不同其他位置的針法暴露在外，讓他恢復光滑的表面舊時的引拔方法會在玩偶上留下一條醜醜的引拔針，讓你心愛的小娃娃留下恐怖的疤痕。不過請你放心！本篇文章將教你如何才能做出完全無痕的引拔方法，讓你的作品上不再有不同其他位置的針法暴露在外，讓他恢復光滑的表面
                            </p>
                        </article>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="articlesList">
                        <div class="articlesImg">
                            <img src="images/monkey.jpg" alt="新手必知:環狀起針的無痕引拔">
                            <div class="articlesMask">
                                <p class="small textHidden">新手必知:環狀起針的無痕引拔</p>
                            </div>
                        </div>
                        <article class="pb2">
                            <h3 class="h3Size mb1 textHidden-2">新手必知:環狀起針的無痕引拔</h3>
                            <p class="textHidden-4">
                                舊時的引拔方法會在玩偶上留下一條醜醜的引拔針，讓你心愛的小娃娃留下恐怖的疤痕。不過請你放心！本篇文章將教你如何才能做出完全無痕的引拔方法，讓你的作品上不再有不同其他位置的針法暴露在外，讓他恢復光滑的表面舊時的引拔方法會在玩偶上留下一條醜醜的引拔針，讓你心愛的小娃娃留下恐怖的疤痕。不過請你放心！本篇文章將教你如何才能做出完全無痕的引拔方法，讓你的作品上不再有不同其他位置的針法暴露在外，讓他恢復光滑的表面舊時的引拔方法會在玩偶上留下一條醜醜的引拔針，讓你心愛的小娃娃留下恐怖的疤痕。不過請你放心！本篇文章將教你如何才能做出完全無痕的引拔方法，讓你的作品上不再有不同其他位置的針法暴露在外，讓他恢復光滑的表面
                            </p>
                        </article>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="articlesList">
                        <div class="articlesImg">
                            <img src="images/cakeBag.jpg" alt="新手必知:環狀起針的無痕引拔">
                            <div class="articlesMask">
                                <p class="small textHidden">新手必知:環狀起針的無痕引拔</p>
                            </div>
                        </div>
                        <article class="pb2">
                            <h3 class="h3Size mb1 textHidden-2">新手必知:環狀起針的無痕引拔</h3>
                            <p class="textHidden-4">
                                舊時的引拔方法會在玩偶上留下一條醜醜的引拔針，讓你心愛的小娃娃留下恐怖的疤痕。不過請你放心！本篇文章將教你如何才能做出完全無痕的引拔方法，讓你的作品上不再有不同其他位置的針法暴露在外，讓他恢復光滑的表面舊時的引拔方法會在玩偶上留下一條醜醜的引拔針，讓你心愛的小娃娃留下恐怖的疤痕。不過請你放心！本篇文章將教你如何才能做出完全無痕的引拔方法，讓你的作品上不再有不同其他位置的針法暴露在外，讓他恢復光滑的表面舊時的引拔方法會在玩偶上留下一條醜醜的引拔針，讓你心愛的小娃娃留下恐怖的疤痕。不過請你放心！本篇文章將教你如何才能做出完全無痕的引拔方法，讓你的作品上不再有不同其他位置的針法暴露在外，讓他恢復光滑的表面
                            </p>
                        </article>
                    </div>
                </div>
            </div>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
        </div>
        <p class="h2Size goodsTitle">推薦商品</p>
    </div>
    <div class="goodsList">
        <div class="leftBTN">
            <img src="images/chevron-left.png" alt="後退">
        </div>
        <ul class="goodsList">
            <li>
                <img src="images/yarn.webp" alt="五股牛奶棉-50g">
                <h3 class="h3Size">五股牛奶棉-50g</h3>
            </li>
            <li>
                <img src="images/crochet.webp" alt="超值鉤針套裝">
                <h3 class="h3Size">超值鉤針套裝</h3>
            </li>
            <li>
                <img src="images/cotton.jpg" alt="DIY手工玩偶填充棉">
                <h3 class="h3Size">DIY手工玩偶填充棉</h3>
            </li>
        </ul>
        <div class="rightBTN">
            <img src="images/chevron-right.png" alt="前進">
        </div>
    </div>
    <div class="span"></div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->

<script src="js/index.js"></script>