<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- c3 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js"></script>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- validate -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>


    <link rel="shortcut icon"
        href="https://github.com/panduola666/2022JS-/blob/main/public/images/yarn-ball.png?raw=true"
        type="image/x-icon">
    <link rel="stylesheet" href="/css/all.css">
    <script src="/js/config.js"></script>
    <title>
        <%- title %>
    </title>
</head>

<body>
    <div class="loading">
        <div class="loading-box">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin:auto;background:rgba(241, 242, 243, 0);display:block;"
                width="450" height="70" preserveAspectRatio="xMidYMid">
                <g style="transform-origin:140px 35px;transform:scale(1)">
                    <g transform="translate(140,35)">
                        <g transform="translate(0,0)">
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: -57.5725px -2.33789px; animation: 1s linear -0.6s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M1.17-32.81L3.03-32.81L4.88-1.86L4.88-1.86Q9.23-1.86 13.60-2.42L13.60-2.42L13.60-2.42Q17.97-2.98 22.56-3.47L22.56-3.47L22.75-1.86L22.75-1.86Q22.71-1.86 21.85-1.73L21.85-1.73L21.85-1.73Q21.00-1.61 19.60-1.44L19.60-1.44L19.60-1.44Q18.21-1.27 16.46-1.07L16.46-1.07L16.46-1.07Q14.70-0.88 12.94-0.68L12.94-0.68L12.94-0.68Q11.18-0.49 9.57-0.29L9.57-0.29L9.57-0.29Q7.96-0.10 6.79 0L6.79 0L6.79 0Q6.74 0 6.54 0.02L6.54 0.02L6.54 0.02Q6.35 0.05 6.10 0.05L6.10 0.05L6.10 0.05Q5.86 0.05 5.62 0.05L5.62 0.05L5.62 0.05Q5.37 0.05 5.22 0.05L5.22 0.05L5.22 0.05Q4.15 0.05 3.47-1.10L3.47-1.10L3.47-1.10Q2.78-2.25 2.34-4.22L2.34-4.22L2.34-4.22Q1.90-6.20 1.71-8.76L1.71-8.76L1.71-8.76Q1.51-11.33 1.42-14.11L1.42-14.11L1.42-14.11Q1.32-16.89 1.34-19.73L1.34-19.73L1.34-19.73Q1.37-22.56 1.37-25.07L1.37-25.07L1.37-25.07Q1.37-27.59 1.34-29.64L1.34-29.64L1.34-29.64Q1.32-31.69 1.17-32.81L1.17-32.81"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: -36.709px 2.73315px; animation: 1s linear -0.54s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M25.10-8.94L25.10-8.94L25.10-8.94Q25.10-10.06 25.29-11.55L25.29-11.55L25.29-11.55Q25.49-13.04 25.93-14.55L25.93-14.55L25.93-14.55Q26.37-16.06 27.03-17.53L27.03-17.53L27.03-17.53Q27.69-18.99 28.61-20.14L28.61-20.14L28.61-20.14Q29.54-21.29 30.76-22.00L30.76-22.00L30.76-22.00Q31.98-22.71 33.50-22.71L33.50-22.71L33.50-22.71Q35.06-22.71 36.40-21.63L36.40-21.63L36.40-21.63Q37.74-20.56 38.70-18.85L38.70-18.85L38.70-18.85Q39.65-17.14 40.14-15.04L40.14-15.04L40.14-15.04Q40.63-12.94 40.53-10.94L40.53-10.94L40.53-10.94Q40.53-8.01 39.40-5.71L39.40-5.71L39.40-5.71Q38.28-3.42 36.55-2.00L36.55-2.00L36.55-2.00Q34.81-0.59 32.84-0.10L32.84-0.10L32.84-0.10Q30.86 0.39 29.13-0.37L29.13-0.37L29.13-0.37Q27.39-1.12 26.25-3.22L26.25-3.22L26.25-3.22Q25.10-5.32 25.10-8.94zM26.90-8.74L26.90-8.74L26.90-8.74Q27.05-5.76 27.93-4.15L27.93-4.15L27.93-4.15Q28.81-2.54 30.05-2.03L30.05-2.03L30.05-2.03Q31.30-1.51 32.76-2.00L32.76-2.00L32.76-2.00Q34.23-2.49 35.50-3.74L35.50-3.74L35.50-3.74Q36.77-4.98 37.67-6.86L37.67-6.86L37.67-6.86Q38.57-8.74 38.67-11.08L38.67-11.08L38.67-11.08Q38.77-12.84 38.40-14.50L38.40-14.50L38.40-14.50Q38.04-16.16 37.38-17.46L37.38-17.46L37.38-17.46Q36.72-18.75 35.77-19.51L35.77-19.51L35.77-19.51Q34.81-20.26 33.59-20.26L33.59-20.26L33.59-20.26Q32.42-20.26 31.49-19.68L31.49-19.68L31.49-19.68Q30.57-19.09 29.81-18.09L29.81-18.09L29.81-18.09Q29.05-17.09 28.52-15.82L28.52-15.82L28.52-15.82Q27.98-14.55 27.61-13.28L27.61-13.28L27.61-13.28Q27.25-12.01 27.08-10.82L27.08-10.82L27.08-10.82Q26.90-9.62 26.90-8.74"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: -19.0594px 2.78711px; animation: 1s linear -0.48s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M42.97-4.20L42.97-4.20L42.97-4.20Q42.97-6.98 44.51-8.25L44.51-8.25L44.51-8.25Q46.04-9.52 48.54-9.52L48.54-9.52L48.54-9.52Q49.51-9.52 50.37-9.47L50.37-9.47L50.37-9.47Q51.22-9.42 52.00-9.23L52.00-9.23L52.00-9.23Q52.78-9.03 53.54-8.64L53.54-8.64L53.54-8.64Q54.30-8.25 55.13-7.52L55.13-7.52L55.13-7.52Q55.13-7.67 55.15-8.13L55.15-8.13L55.15-8.13Q55.18-8.59 55.18-9.13L55.18-9.13L55.18-9.13Q55.18-9.67 55.18-10.13L55.18-10.13L55.18-10.13Q55.18-10.60 55.18-10.79L55.18-10.79L55.18-10.79Q55.13-11.67 55.13-13.06L55.13-13.06L55.13-13.06Q55.13-14.45 54.91-15.92L54.91-15.92L54.91-15.92Q54.69-17.38 54.03-18.70L54.03-18.70L54.03-18.70Q53.37-20.02 51.90-20.70L51.90-20.70L51.90-20.70Q50.88-20.70 50-20.36L50-20.36L50-20.36Q49.12-20.02 48.24-19.63L48.24-19.63L48.24-19.63Q47.36-19.24 46.48-18.92L46.48-18.92L46.48-18.92Q45.61-18.60 44.58-18.60L44.58-18.60L44.58-18.60Q44.58-19.82 45.34-20.63L45.34-20.63L45.34-20.63Q46.09-21.44 47.17-21.88L47.17-21.88L47.17-21.88Q48.24-22.31 49.41-22.46L49.41-22.46L49.41-22.46Q50.59-22.61 51.46-22.61L51.46-22.61L51.46-22.61Q52.34-22.46 53.10-22.27L53.10-22.27L53.10-22.27Q53.86-22.07 54.52-21.48L54.52-21.48L54.52-21.48Q55.18-20.90 55.74-19.70L55.74-19.70L55.74-19.70Q56.30-18.51 56.71-16.36L56.71-16.36L56.71-16.36Q57.13-14.21 57.45-10.91L57.45-10.91L57.45-10.91Q57.76-7.62 57.96-2.83L57.96-2.83L57.96-2.83Q58.06-2.20 57.54-1.73L57.54-1.73L57.54-1.73Q57.03-1.27 56.15-0.95L56.15-0.95L56.15-0.95Q55.27-0.63 54.17-0.42L54.17-0.42L54.17-0.42Q53.08-0.20 51.95-0.10L51.95-0.10L51.95-0.10Q50.83 0 49.80 0.05L49.80 0.05L49.80 0.05Q48.78 0.10 48.10 0.10L48.10 0.10L48.10 0.10Q47.22 0.10 46.31-0.20L46.31-0.20L46.31-0.20Q45.41-0.49 44.65-1.05L44.65-1.05L44.65-1.05Q43.90-1.61 43.43-2.42L43.43-2.42L43.43-2.42Q42.97-3.22 42.97-4.20zM49.32-7.62L49.32-7.62L49.32-7.62Q46.88-6.93 45.90-5.98L45.90-5.98L45.90-5.98Q44.92-5.03 45.04-4.15L45.04-4.15L45.04-4.15Q45.17-3.27 46.19-2.56L46.19-2.56L46.19-2.56Q47.22-1.86 48.68-1.64L48.68-1.64L48.68-1.64Q50.15-1.42 51.86-1.88L51.86-1.88L51.86-1.88Q53.56-2.34 55.13-3.71L55.13-3.71L55.13-3.71Q54.54-5.13 53.96-5.88L53.96-5.88L53.96-5.88Q53.37-6.64 52.69-7.03L52.69-7.03L52.69-7.03Q52.00-7.42 51.17-7.52L51.17-7.52L51.17-7.52Q50.34-7.62 49.32-7.62"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: -2.86497px -4.74px; animation: 1s linear -0.42s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M59.08-7.08L59.08-7.08L59.08-7.08Q59.08-8.40 59.52-9.99L59.52-9.99L59.52-9.99Q59.96-11.57 60.79-12.92L60.79-12.92L60.79-12.92Q61.62-14.26 62.79-15.14L62.79-15.14L62.79-15.14Q63.96-16.02 65.53-16.02L65.53-16.02L65.53-16.02Q66.70-16.02 67.60-15.80L67.60-15.80L67.60-15.80Q68.51-15.58 69.31-15.06L69.31-15.06L69.31-15.06Q70.12-14.55 70.83-13.84L70.83-13.84L70.83-13.84Q71.53-13.13 72.31-12.21L72.31-12.21L72.02-37.26L72.02-37.26Q73.34-37.74 73.66-37.65L73.66-37.65L73.66-37.65Q73.97-37.55 73.97-36.82L73.97-36.82L73.97-36.82Q73.97-36.72 73.95-36.52L73.95-36.52L73.95-36.52Q73.93-36.33 73.93-36.28L73.93-36.28L73.93-36.28Q73.88-35.35 73.85-33.64L73.85-33.64L73.85-33.64Q73.83-31.93 73.85-29.69L73.85-29.69L73.85-29.69Q73.88-27.44 73.93-24.83L73.93-24.83L73.93-24.83Q73.97-22.22 74.02-19.56L74.02-19.56L74.02-19.56Q74.07-16.89 74.15-14.28L74.15-14.28L74.15-14.28Q74.22-11.67 74.24-9.42L74.24-9.42L74.24-9.42Q74.27-7.18 74.24-5.44L74.24-5.44L74.24-5.44Q74.22-3.71 74.17-2.83L74.17-2.83L74.17-2.83Q73.63-1.71 72.68-1.12L72.68-1.12L72.68-1.12Q71.73-0.54 70.63-0.27L70.63-0.27L70.63-0.27Q69.53 0 68.36 0.05L68.36 0.05L68.36 0.05Q67.19 0.10 66.16 0.10L66.16 0.10L66.16 0.10Q62.89 0.10 60.99-1.83L60.99-1.83L60.99-1.83Q59.08-3.76 59.08-7.08zM61.04-8.40L61.04-8.40L61.04-8.40Q61.04-7.18 61.23-5.98L61.23-5.98L61.23-5.98Q61.43-4.79 61.91-3.86L61.91-3.86L61.91-3.86Q62.40-2.93 63.28-2.37L63.28-2.37L63.28-2.37Q64.16-1.81 65.53-1.81L65.53-1.81L65.53-1.81Q66.36-1.81 67.53-1.81L67.53-1.81L67.53-1.81Q68.70-1.81 69.78-2.08L69.78-2.08L69.78-2.08Q70.85-2.34 71.58-2.93L71.58-2.93L71.58-2.93Q72.31-3.52 72.31-4.59L72.31-4.59L72.31-4.59Q72.31-5.86 71.95-7.50L71.95-7.50L71.95-7.50Q71.58-9.13 70.83-10.62L70.83-10.62L70.83-10.62Q70.07-12.11 68.92-13.16L68.92-13.16L68.92-13.16Q67.77-14.21 66.21-14.21L66.21-14.21L66.21-14.21Q65.19-14.21 64.26-13.67L64.26-13.67L64.26-13.67Q63.33-13.13 62.62-12.30L62.62-12.30L62.62-12.30Q61.91-11.47 61.47-10.45L61.47-10.45L61.47-10.45Q61.04-9.42 61.04-8.40"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: 10.363px 4.59495px; animation: 1s linear -0.36s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M79.25 0.10L78.52-18.95L78.52-18.95Q79.10-18.95 79.52-18.99L79.52-18.99L79.52-18.99Q79.93-19.04 80.22-18.51L80.22-18.51L80.22-18.51Q80.37-16.31 80.57-14.04L80.57-14.04L80.57-14.04Q80.76-11.77 80.96-9.47L80.96-9.47L80.96-9.47Q81.15-7.18 81.23-4.86L81.23-4.86L81.23-4.86Q81.30-2.54 81.25-0.34L81.25-0.34L81.25-0.34Q81.25-0.05 81.10 0.02L81.10 0.02L81.10 0.02Q80.96 0.10 80.69 0.07L80.69 0.07L80.69 0.07Q80.42 0.05 80.05 0.02L80.05 0.02L80.05 0.02Q79.69 0 79.25 0.10L79.25 0.10"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: 8.59253px -13.5729px; animation: 1s linear -0.3s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M75.68-27.69L75.68-27.69L75.68-27.69Q75.68-28.03 75.73-28.44L75.73-28.44L75.73-28.44Q75.78-28.86 75.95-29.20L75.95-29.20L75.95-29.20Q76.12-29.54 76.39-29.79L76.39-29.79L76.39-29.79Q76.66-30.03 77.05-30.03L77.05-30.03L77.05-30.03Q77.64-30.03 78.22-29.98L78.22-29.98L78.22-29.98Q78.81-29.93 79.35-29.76L79.35-29.76L79.35-29.76Q79.88-29.59 80.22-29.22L80.22-29.22L80.22-29.22Q80.57-28.86 80.57-28.17L80.57-28.17L80.57-28.17Q80.57-27.00 79.69-26.10L79.69-26.10L79.69-26.10Q78.81-25.20 77.54-25.20L77.54-25.20L77.54-25.20Q76.56-25.20 76.12-25.95L76.12-25.95L76.12-25.95Q75.68-26.71 75.68-27.69zM78.52-27.44L78.52-27.44L78.52-27.44Q78.37-27.44 78.37-27.20L78.37-27.20L78.37-27.20Q78.37-26.95 78.52-26.95L78.52-26.95L78.52-26.95Q78.71-26.95 78.71-27.20L78.71-27.20L78.71-27.20Q78.71-27.44 78.52-27.44"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: 22.4199px 2.08543px; animation: 1s linear -0.24s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M83.98-0.24L83.98-0.24L83.98-0.24Q83.89-1.03 83.81-2.51L83.81-2.51L83.81-2.51Q83.74-4.00 83.67-5.88L83.67-5.88L83.67-5.88Q83.59-7.76 83.54-9.81L83.54-9.81L83.54-9.81Q83.50-11.87 83.45-13.72L83.45-13.72L83.45-13.72Q83.40-15.58 83.33-17.07L83.33-17.07L83.33-17.07Q83.25-18.55 83.11-19.34L83.11-19.34L83.11-19.34Q83.11-19.38 83.08-19.58L83.08-19.58L83.08-19.58Q83.06-19.78 83.03-20.02L83.03-20.02L83.03-20.02Q83.01-20.26 83.01-20.43L83.01-20.43L83.01-20.43Q83.01-20.61 83.01-20.70L83.01-20.70L83.01-20.70Q83.74-21.29 84.25-21.09L84.25-21.09L84.25-21.09Q84.77-20.90 85.11-20.24L85.11-20.24L85.11-20.24Q85.45-19.58 85.60-18.60L85.60-18.60L85.60-18.60Q85.74-17.63 85.82-16.65L85.82-16.65L85.82-16.65Q85.89-15.67 85.89-14.87L85.89-14.87L85.89-14.87Q85.89-14.06 85.89-13.72L85.89-13.72L85.89-13.72Q85.99-14.55 86.18-15.67L86.18-15.67L86.18-15.67Q86.38-16.80 86.77-17.97L86.77-17.97L86.77-17.97Q87.16-19.14 87.72-20.29L87.72-20.29L87.72-20.29Q88.28-21.44 89.11-22.31L89.11-22.31L89.11-22.31Q89.94-23.19 90.99-23.68L90.99-23.68L90.99-23.68Q92.04-24.17 93.41-24.07L93.41-24.07L93.41-24.07Q95.56-23.97 96.95-22.90L96.95-22.90L96.95-22.90Q98.34-21.83 99.15-20.02L99.15-20.02L99.15-20.02Q99.95-18.21 100.32-15.87L100.32-15.87L100.32-15.87Q100.68-13.53 100.81-10.89L100.81-10.89L100.81-10.89Q100.93-8.25 100.88-5.54L100.88-5.54L100.88-5.54Q100.83-2.83 100.83-0.34L100.83-0.34L100.83-0.34Q100.39-0.24 99.95-0.02L99.95-0.02L99.95-0.02Q99.51 0.20 99.22 0.17L99.22 0.17L99.22 0.17Q98.93 0.15 98.80-0.27L98.80-0.27L98.80-0.27Q98.68-0.68 98.88-1.90L98.88-1.90L98.88-1.90Q98.93-2.78 99.05-4.61L99.05-4.61L99.05-4.61Q99.17-6.45 99.15-8.69L99.15-8.69L99.15-8.69Q99.12-10.94 98.88-13.33L98.88-13.33L98.88-13.33Q98.63-15.72 97.97-17.70L97.97-17.70L97.97-17.70Q97.31-19.68 96.09-20.92L96.09-20.92L96.09-20.92Q94.87-22.17 92.92-22.17L92.92-22.17L92.92-22.17Q90.92-21.34 89.58-19.04L89.58-19.04L89.58-19.04Q88.23-16.75 87.43-13.67L87.43-13.67L87.43-13.67Q86.62-10.60 86.25-7.01L86.25-7.01L86.25-7.01Q85.89-3.42 85.84 0L85.84 0L85.84 0Q85.74-0.05 85.47-0.05L85.47-0.05L85.47-0.05Q85.21-0.05 84.89-0.07L84.89-0.07L84.89-0.07Q84.57-0.10 84.30-0.15L84.30-0.15L84.30-0.15Q84.03-0.20 83.98-0.24"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: 37.5475px 11.7021px; animation: 1s linear -0.18s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M96.14 11.57L96.14 11.57L96.14 11.57Q96.14 10.25 96.58 9.57L96.58 9.57L96.58 9.57Q97.02 8.89 98.63 8.89L98.63 8.89L98.63 8.89Q98.49 9.57 98.27 10.25L98.27 10.25L98.27 10.25Q98.05 10.94 97.88 11.52L97.88 11.52L97.88 11.52Q97.71 12.11 97.73 12.45L97.73 12.45L97.73 12.45Q97.75 12.79 98.10 12.70L98.10 12.70L98.10 12.70Q99.66 13.72 101.51 14.16L101.51 14.16L101.51 14.16Q103.37 14.60 105.18 14.60L105.18 14.60L105.18 14.60Q107.91 14.55 109.89 13.48L109.89 13.48L109.89 13.48Q111.87 12.40 113.16 10.69L113.16 10.69L113.16 10.69Q114.45 8.98 115.16 6.76L115.16 6.76L115.16 6.76Q115.87 4.54 116.04 2.17L116.04 2.17L116.04 2.17Q116.21-0.20 115.92-2.59L115.92-2.59L115.92-2.59Q115.63-4.98 114.99-6.98L114.99-6.98L114.99-6.98Q114.16-6.05 113.31-5.03L113.31-5.03L113.31-5.03Q112.45-4.00 111.47-3.20L111.47-3.20L111.47-3.20Q110.50-2.39 109.40-1.86L109.40-1.86L109.40-1.86Q108.30-1.32 106.93-1.32L106.93-1.32L106.93-1.32Q105.52-1.32 104.81-1.81L104.81-1.81L104.81-1.81Q104.10-2.29 103.86-3.15L103.86-3.15L103.86-3.15Q103.61-4.00 103.64-5.13L103.64-5.13L103.64-5.13Q103.66-6.25 103.66-7.52L103.66-7.52L103.66-7.52Q103.66-8.69 103.74-10.16L103.74-10.16L103.74-10.16Q103.81-11.62 104.08-13.11L104.08-13.11L104.08-13.11Q104.35-14.60 104.81-16.04L104.81-16.04L104.81-16.04Q105.27-17.48 106.05-18.63L106.05-18.63L106.05-18.63Q106.84-19.78 108.01-20.46L108.01-20.46L108.01-20.46Q109.18-21.14 110.79-21.14L110.79-21.14L110.79-21.14Q111.82-21.14 112.77-20.97L112.77-20.97L112.77-20.97Q113.72-20.80 114.53-20.36L114.53-20.36L114.53-20.36Q115.33-19.92 115.92-19.19L115.92-19.19L115.92-19.19Q116.50-18.46 116.85-17.33L116.85-17.33L116.85-17.33Q117.04-15.14 117.33-12.57L117.33-12.57L117.33-12.57Q117.63-10.01 117.82-7.25L117.82-7.25L117.82-7.25Q118.02-4.49 118.02-1.71L118.02-1.71L118.02-1.71Q118.02 1.07 117.65 3.66L117.65 3.66L117.65 3.66Q117.29 6.25 116.43 8.52L116.43 8.52L116.43 8.52Q115.58 10.79 114.04 12.52L114.04 12.52L114.04 12.52Q112.50 14.26 110.21 15.31L110.21 15.31L110.21 15.31Q107.91 16.36 104.69 16.46L104.69 16.46L104.69 16.46Q103.32 16.46 101.81 16.28L101.81 16.28L101.81 16.28Q100.29 16.11 99.02 15.60L99.02 15.60L99.02 15.60Q97.75 15.09 96.95 14.14L96.95 14.14L96.95 14.14Q96.14 13.18 96.14 11.57zM105.52-7.52L105.52-7.52L105.52-7.52Q105.52-6.98 105.47-6.30L105.47-6.30L105.47-6.30Q105.42-5.62 105.52-4.93L105.52-4.93L105.52-4.93Q105.62-4.25 105.93-3.76L105.93-3.76L105.93-3.76Q106.25-3.27 106.98-3.22L106.98-3.22L106.98-3.22Q108.15-3.22 109.16-3.76L109.16-3.76L109.16-3.76Q110.16-4.30 110.96-5.22L110.96-5.22L110.96-5.22Q111.77-6.15 112.38-7.30L112.38-7.30L112.38-7.30Q112.99-8.45 113.40-9.67L113.40-9.67L113.40-9.67Q113.82-10.89 114.04-12.04L114.04-12.04L114.04-12.04Q114.26-13.18 114.26-14.06L114.26-14.06L114.26-14.06Q114.40-14.99 114.28-15.92L114.28-15.92L114.28-15.92Q114.16-16.85 113.72-17.58L113.72-17.58L113.72-17.58Q113.28-18.31 112.55-18.77L112.55-18.77L112.55-18.77Q111.82-19.24 110.79-19.24L110.79-19.24L110.79-19.24Q109.62-19.24 108.74-18.58L108.74-18.58L108.74-18.58Q107.86-17.92 107.28-16.89L107.28-16.89L107.28-16.89Q106.69-15.87 106.35-14.58L106.35-14.58L106.35-14.58Q106.01-13.28 105.83-11.99L105.83-11.99L105.83-11.99Q105.66-10.69 105.59-9.50L105.59-9.50L105.59-9.50Q105.52-8.30 105.52-7.52"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: 53.8099px 12.1621px; animation: 1s linear -0.12s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M121.00-1.86L121.00-1.86L121.00-1.86Q120.80-2.59 121.02-3.00L121.02-3.00L121.02-3.00Q121.24-3.42 121.63-3.61L121.63-3.61L121.63-3.61Q122.02-3.81 122.51-3.83L122.51-3.83L122.51-3.83Q123.00-3.86 123.39-3.86L123.39-3.86L123.39-3.86Q123.73-3.86 124.22-3.83L124.22-3.83L124.22-3.83Q124.71-3.81 125.10-3.61L125.10-3.61L125.10-3.61Q125.49-3.42 125.68-3.00L125.68-3.00L125.68-3.00Q125.88-2.59 125.68-1.86L125.68-1.86L125.68-1.86Q125.63-1.51 125.39-1.20L125.39-1.20L125.39-1.20Q125.15-0.88 124.83-0.59L124.83-0.59L124.83-0.59Q124.51-0.29 124.12-0.10L124.12-0.10L124.12-0.10Q123.73 0.10 123.39 0.10L123.39 0.10L123.39 0.10Q123.00 0.10 122.61-0.10L122.61-0.10L122.61-0.10Q122.22-0.29 121.88-0.59L121.88-0.59L121.88-0.59Q121.53-0.88 121.31-1.20L121.31-1.20L121.31-1.20Q121.09-1.51 121.00-1.86"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: 61.0385px 12.1621px; animation: 1s linear -0.06s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M128.22-1.86L128.22-1.86L128.22-1.86Q128.03-2.59 128.25-3.00L128.25-3.00L128.25-3.00Q128.47-3.42 128.86-3.61L128.86-3.61L128.86-3.61Q129.25-3.81 129.74-3.83L129.74-3.83L129.74-3.83Q130.22-3.86 130.62-3.86L130.62-3.86L130.62-3.86Q130.96-3.86 131.45-3.83L131.45-3.83L131.45-3.83Q131.93-3.81 132.32-3.61L132.32-3.61L132.32-3.61Q132.71-3.42 132.91-3.00L132.91-3.00L132.91-3.00Q133.11-2.59 132.91-1.86L132.91-1.86L132.91-1.86Q132.86-1.51 132.62-1.20L132.62-1.20L132.62-1.20Q132.37-0.88 132.06-0.59L132.06-0.59L132.06-0.59Q131.74-0.29 131.35-0.10L131.35-0.10L131.35-0.10Q130.96 0.10 130.62 0.10L130.62 0.10L130.62 0.10Q130.22 0.10 129.83-0.10L129.83-0.10L129.83-0.10Q129.44-0.29 129.10-0.59L129.10-0.59L129.10-0.59Q128.76-0.88 128.54-1.20L128.54-1.20L128.54-1.20Q128.32-1.51 128.22-1.86"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                            <g class="path"
                                style="transform: scale(0.91); transform-origin: 68.2624px 12.1621px; animation: 1s linear 0s infinite normal forwards running breath-30c79d2f-f202-408f-bf01-da0a1d15d636;">
                                <path
                                    d="M135.45-1.86L135.45-1.86L135.45-1.86Q135.25-2.59 135.47-3.00L135.47-3.00L135.47-3.00Q135.69-3.42 136.08-3.61L136.08-3.61L136.08-3.61Q136.47-3.81 136.96-3.83L136.96-3.83L136.96-3.83Q137.45-3.86 137.84-3.86L137.84-3.86L137.84-3.86Q138.18-3.86 138.67-3.83L138.67-3.83L138.67-3.83Q139.16-3.81 139.55-3.61L139.55-3.61L139.55-3.61Q139.94-3.42 140.14-3.00L140.14-3.00L140.14-3.00Q140.33-2.59 140.14-1.86L140.14-1.86L140.14-1.86Q140.09-1.51 139.84-1.20L139.84-1.20L139.84-1.20Q139.60-0.88 139.28-0.59L139.28-0.59L139.28-0.59Q138.96-0.29 138.57-0.10L138.57-0.10L138.57-0.10Q138.18 0.10 137.84 0.10L137.84 0.10L137.84 0.10Q137.45 0.10 137.06-0.10L137.06-0.10L137.06-0.10Q136.67-0.29 136.33-0.59L136.33-0.59L136.33-0.59Q135.99-0.88 135.77-1.20L135.77-1.20L135.77-1.20Q135.55-1.51 135.45-1.86"
                                    fill="#fc7f79" stroke="none" stroke-width="none"
                                    transform="translate(-69.53246474266052,14.042107748118315)"
                                    style="fill: rgb(252, 127, 121);"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="loadingImg"></div>
        </div>
    </div>
    <header>
        <div class="container-sm">
            <div class="row justify-content-around flex-wrap">
                <div class="col d-flex align-items-center justify-content-between ">
                    <a href="/"><img
                            src="https://github.com/panduola666/2022JS-/blob/main/public/images/logoPrimary.png?raw=true"
                            alt="鉤針手作平台" class="headerLogo"></a>
                    <div class="more">
                        <img src="https://github.com/panduola666/2022JS-/blob/main/public/images/hambergur.png?raw=true"
                            alt="更多選項" class="d-md-none pointer moreBtn">
                        <ul class="small moreHref moreList">
                            <li class="pointer">後台管理</li>
                            <li class="pointer">會員專區</li>
                            <li class="pointer">作品文章</li>
                            <li class="pointer">購買商城</li>
                            <li class="pointer">購物車</li>
                            <li class="pointer">常見問題</li>
                            <li><a href="javascript:;">會員登入/註冊</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="col-12 col-md-8 d-flex headerNav">
                    <div>
                        <ul class="d-md-flex mb-3 d-none">
                            <li class="mr2">
                                <a href="#">關於我們</a>
                            </li>
                            <li class="mr2">
                                <a href="/worksList">作品列表</a>
                            </li>
                            <li class="mr2">
                                <a href="/articlesList">技巧文章</a>
                            </li>
                            <li class="mr2">
                                <a href="/goodsList">購買商城</a>
                            </li>
                            <li class="mr2 goToAdmin">
                                <a href="javascript:;">後台管理</a>
                            </li>
                        </ul>
                        <form class="search">
                            <button type="button" class="searchList">作品名　></button>
                            <label class="position-relative">
                                <input type="text" class="searchContent" placeholder="搜尋..." name="search">
                                <button type="submit" class="searchBtn"><img
                                        src="https://github.com/panduola666/2022JS-/blob/main/public/images/search.png?raw=true"
                                        alt="搜尋" class="pointer"></button>
                            </label>
                        </form>
                    </div>
                    <div class="d-none d-md-flex">
                        <div class="shoppingCart me-3">
                            <img src="https://github.com/panduola666/2022JS-/blob/main/public/images/shoppingcart.png?raw=true"
                                alt="購物車" class="pointer shoppingCarIcon">
                            <span class="shoppingCartNum">0</span>
                        </div>
                        <div class="userMore">
                            <img src="https://github.com/panduola666/2022JS-/blob/main/public/images/user.png?raw=true"
                                alt="用戶專區" class="pointer userIcon">
                            <ul class="small moreList userMoreHref">
                                <li class="pointer">材料包管理</li>
                                <li class="pointer">我的訂單</li>
                                <li class="pointer">我的文章</li>
                                <li class="pointer">我的留言</li>
                                <li class="pointer">我的收藏</li>
                                <li><a href="javascript:;">會員登出</a></li>
                            </ul>
                        </div>
                    </div>

                </nav>
            </div>
        </div>
    </header>
    <aside class="backTop pointer">
        <img src="https://github.com/panduola666/2022JS-/blob/main/public/images/gotop.png?raw=true" alt="返回頂部">
    </aside>

    <%- partial(body) %>

        <footer class="py3">
            <div class="container-sm">
                <div class="row align-items-center flex-wrap">
                    <div class="col col-md-3 text-center mb2">
                        <a href="/"><img
                                src="https://github.com/panduola666/2022JS-/blob/main/public/images/logo.png?raw=true"
                                alt="鉤針手作平台"></a>
                    </div>
                    <div class="col-12 col-md d-flex flex-column align-items-center">
                        <ul class="footerNav mb4">
                            <li><a href="#">版權規定</a></li>
                            <li><a href="#">退貨說明</a></li>
                            <li><a href="#">到貨進度</a></li>
                            <li><a href="#">常見問題</a></li>
                            <li><a href="#">隱私權政策</a></li>
                        </ul>
                        <div class="connection">
                            <h2 class="mr3">聯絡我們</h2>
                            <div class="connectionInfo">
                                <a href="tel:+" class="mb-3">TEL: 0912345678</a>
                                <a href="mailto:">MAIL: xxxxxxx@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
        </footer>
        <script src="/js/layout.js"></script>
</body>

</html>