<main class="container-sm my3 userForm">
    <div class="row flex-column flex-md-row">
        <div class="col register">
            <form class="registerForm">
                <h1 class="h2Size mb2 text-center">會員註冊</h1>
                <label for="registerAccount">帳號:</label>
                <input type="text" name="帳號" id="registerAccount" class="account" placeholder="請輸入Email">
                <label for="registerPassword">密碼:</label>
                <input type="password" name="密碼" id="registerPassword" placeholder="最少6位數,不可使用特殊字符" class="password">
                <label for="registerPasswordCheck">確認密碼:</label>
                <input type="password" name="確認密碼" id="registerPasswordCheck" class="passwordCheck"
                    equalTo="#registerPassword">
            </form>
            <p><label><input type="checkbox" name="" checked>我同意</label><a href="">網站服務條款及隱私政策</a></p>
            <button type="button" class="h3Size registerBtn">註冊</h2></button>
        </div>
        <div class="col login">
            <form class="loginForm">
                <h1 class="h2Size mb2 text-center">會員登入</h1>
                <label for="loginAccount">帳號:</label>
                <input type="text" name="帳號" id="loginAccount" class="account">
                <label for="loginPassword">密碼:</label>
                <input type="password" name="密碼" id="loginPassword" class="password">
                <label for="verify">驗證碼:</label>
                <input type="text" name="驗證碼" id="verify" class="verifyText" placeholder="不區分大小寫">
                </ㄑ>
                <div class="verifyNumber">
                    <div class="verifyImg"></div>
                    <p>點擊圖片刷新</p>
                </div>
                <button type="button" class="h3Size loginBtn">登入</button>
        </div>
    </div>
</main>
<script src="js/login.js"></script>