<main class="container-sm my3">
    <a href="/user" class="mb1 d-block">回上頁 ></a>
    <p class="h1Size">我的文章</p>
    <div class="myArticle my1">
        <div class="myArticleInfo py-2">
            <p class="d-flex flex-wrap"><span>收藏:123</span>　<span>瀏覽:1234</span></p>
            <p class="text-end">2022-09-01 22:48:05</p>
        </div>
        <div class="d-flex justify-content-between px-3">
            <h1 class="textHidden h2Size">新手必學針法:短針、長針、中長針、長長針</h1>
            <div class="actionBTN">
                <button>編輯</button>
                <button>刪除</button>
            </div>
        </div>
        <article class="row justify-content-around py-3">
            <div class="col col-md-8 ">
                <p class="textHidden-4 articleFont">
                    看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品,看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品
                </p>
            </div>
            <div class="articleImg col col-md-3 d-none d-md-block"></div>
        </article>
        <div class="articleBTN">
            <button type="button" class="active">待回應( <span>12</span> )</button>
            <button type="button">已回應( <span>99+</span> )</button>
        </div>
        <ul class="myArticleQA">
            <li>
                <p>Q: <span>請問蛋糕主體跟奶油是要分開鉤嗎?還是可以連在一起鉤</span></p>
                <div class="d-flex align-items-center justify-content-end my-2">
                    <label aria-label="answer">
                        <textarea name="" id="" rows="2" placeholder="請輸入回覆內容..."></textarea>
                    </label>
                    <div class="myAvatar d-none d-sm-block"></div>
                </div>
            </li>
        </ul>
        <button type="button" class="myArticleQAMore">展開更多...</button>
    </div>
</main>