<main class="container-sm my3">
    <a href="javascript:history.back()" class="mb1 d-block">回上頁 ></a>
    <p class="h1Size">我的文章</p>
    <div class="myArticles"></div>
</main>
<script src="/js/myArticle.js"></script>