<main class="container-sm my3">
    <h1 class="h1Size mb1">我的訂單</h1>
    <ul class="orderList">
        <li class="p-3">
            <div class="d-flex justify-content-between py-1 align-items-center flex-wrap mb-3">
                <p>訂單待處理</p>
                <p>訂單編號:1231590892</p>
            </div>
            <div
                class="py-1 mb-3 d-flex justify-content-between align-items-sm-center border-top border-dark flex-column flex-sm-row">
                <h3 class="h3Size">五股牛奶棉-50g</h3>
                <p class="h4Size">黑色x3</p>
                <p class="h2Size text-end">$60</p>
            </div>
            <div
                class="py-1 mb-3 d-flex justify-content-between align-items-sm-center border-top border-dark flex-column flex-sm-row">
                <h3 class="h3Size">五股牛奶棉-50g</h3>
                <p class="h4Size">黑色x3</p>
                <p class="h2Size text-end">$60</p>
            </div>
            <div class="d-flex justify-content-between pt-3 align-items-sm-center flex-column flex-sm-row">
                <p class="mb-3 mb-sm-0">3商品</p>
                <p class="mb-3 mb-sm-0 h3Size">訂單金額:<span class="primaryColor ms-3">$120</span></p>
                <button>訂單詳情</button>
            </div>
        </li>
        <li class="p-3">
            <div class="d-flex justify-content-between py-1 align-items-center flex-wrap mb-3">
                <p>訂單待處理</p>
                <p>訂單編號:1231590892</p>
            </div>
            <div
                class="py-1 mb-3 d-flex justify-content-between align-items-sm-center border-top border-dark flex-column flex-sm-row">
                <h3 class="h3Size">五股牛奶棉-50g</h3>
                <p class="h4Size">黑色x3</p>
                <p class="h2Size text-end">$60</p>
            </div>
            <div
                class="py-1 mb-3 d-flex justify-content-between align-items-sm-center border-top border-dark flex-column flex-sm-row">
                <h3 class="h3Size">五股牛奶棉-50g</h3>
                <p class="h4Size">黑色x3</p>
                <p class="h2Size text-end">$60</p>
            </div>
            <div class="d-flex justify-content-between pt-3 align-items-sm-center flex-column flex-sm-row">
                <p class="mb-3 mb-sm-0">3商品</p>
                <p class="mb-3 mb-sm-0 h3Size">訂單金額:<span class="primaryColor ms-3">$120</span></p>
                <button>訂單詳情</button>
            </div>
        </li>
        <li class="p-3">
            <div class="d-flex justify-content-between py-1 align-items-center flex-wrap mb-3">
                <p>訂單待處理</p>
                <p>訂單編號:1231590892</p>
            </div>
            <div
                class="py-1 mb-3 d-flex justify-content-between align-items-sm-center border-top border-dark flex-column flex-sm-row">
                <h3 class="h3Size">五股牛奶棉-50g</h3>
                <p class="h4Size">黑色x3</p>
                <p class="h2Size text-end">$60</p>
            </div>
            <div
                class="py-1 mb-3 d-flex justify-content-between align-items-sm-center border-top border-dark flex-column flex-sm-row">
                <h3 class="h3Size">五股牛奶棉-50g</h3>
                <p class="h4Size">黑色x3</p>
                <p class="h2Size text-end">$60</p>
            </div>
            <div class="d-flex justify-content-between pt-3 align-items-sm-center flex-column flex-sm-row">
                <p class="mb-3 mb-sm-0">3商品</p>
                <p class="mb-3 mb-sm-0 h3Size">訂單金額:<span class="primaryColor ms-3">$120</span></p>
                <button>訂單詳情</button>
            </div>
        </li>
    </ul>
</main>