<main class="container-sm my3">
    <a href="javascript:history.back()" class="mb1 d-block">回上頁 ></a>
    <p class="h1Size">我的收藏</p>
    <div class="myFavorites"></div>
</main>
<script src="/js/mySave.js"></script>