<main class="container-sm my3">
    <a href="javascript:history.back()" class="mb1 d-block">回上頁 ></a>
    <p class="h1Size">我的收藏</p>
    <div class="mySave my1">
        <div class="myArticleInfo py-2">
            <p class="d-flex flex-wrap"><span>收藏:123</span>　<span>瀏覽:1234</span></p>
            <p class="text-center">2022-09-01 22:48:05</p>
        </div>
        <article class="row justify-content-around py-3">
            <div class="col col-md-8 ">
                <h1 class="textHidden h2Size pb-3">新手必學針法:短針、長針、中長針、長長針</h1>
                <p class="textHidden-4 articleFont">
                    看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品,看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品
                </p>
            </div>
            <div class="articleImg col col-md-3 d-none d-md-block"></div>
        </article>
    </div>
</main>