<main class="container-sm my3">
    <h1 class="h1Size mb1">我的訂單</h1>
    <a href="/myOrder">回上頁 ></a>
    <div class="orderDetails p-3 mt-3">
        <div class="d-flex align-items-center justify-content-between border-bottom border-dark pb-3">
            <h4>寄件編號:213edwfeq</h4>
            <p class="d-flex flex-wrap">訂單編號:<span>1231590892</span></p>
        </div>
        <div class="steps">
            <div class="d-flex align-content-center justify-content-between flex-grow-1">
                <div class="orderStep">
                    <img src="../images/order.png" alt="">
                    <p>訂單待處理</p>
                    <p class="small">2022-10-21</p>
                </div>
                <div class="stepsLine"></div>
                <div class="storeHouseStep">
                    <img src="../images/storehouse.png" alt="">
                    <p>倉庫理貨中</p>
                    <p class="small">2022-10-21</p>
                </div>
                <div class="stepsLine"></div>
                <div class="logisticsStep">
                    <img src="../images/logistics.png" alt="">
                    <p>已出貨</p>
                    <p class="small">2022-10-21</p>
                </div>
                <div class="stepsLine"></div>
                <div class="homeStep">
                    <img src="../images/home.png" alt="">
                    <p>待收貨</p>
                    <p class="small">2022-10-21</p>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-between flex-grow-1">
                <p class="h4Size mt-3 mt-lg-0 d-flex justify-content-between">商品總額:<span>$60</span></p>
                <p class="h4Size mt-3 mt-lg-0 d-flex justify-content-between">運費總額:<span>$60</span></p>
                <p class="h4Size mt-3 mt-lg-0 d-flex justify-content-between">付款總額:<span
                        class="primaryColor">$120</span>
                </p>
            </div>
        </div>
        <div class="recipientInfo p-3">
            <p class="h3Size mb1">收件信息</p>
            <div class="d-flex align-items-sm-center justify-content-around flex-wrap text-center">
                <p>王曉名</p>
                <p>0912344562</p>
                <p class="flex-shrink-0 me-sm-3">全家-登峰門市</p>
                <p class="small textHidden mr1 d-none d-md-block">新北市汐止區新台五路一段149號1樓</p>
                <p class="small textHidden d-none d-md-block">店號174523</p>
            </div>
        </div>
        <ul class="orderGoods">
            <li class="row py-3">
                <img src="../images/yarn.webp" alt="" class="col-5 col-sm-4 col-lg-3">
                <div class="col d-flex justify-content-between flex-column">
                    <p class="h2Size">五股牛奶棉-50g</p>
                    <p class="text-end h3Size">紅色　x3</p>
                    <p class="primaryColor h2Size text-end">$60</p>
                </div>
            </li>
            <li class="row py-3">
                <img src="../images/yarn.webp" alt="" class="col-5 col-sm-4 col-lg-3">
                <div class="col d-flex justify-content-between flex-column">
                    <p class="h2Size">五股牛奶棉-50g</p>
                    <p class="text-end h3Size">黑色　x3</p>
                    <p class="primaryColor h2Size text-end">$60</p>
                </div>
            </li>
        </ul>
        <div class="d-flex justify-content-between p-3 border-top border-dark">
            <p>2商品</p>
            <p>訂單金額:<span>$120</span></p>
        </div>
    </div>
</main>