<main class="mt2">
    <div class="container-sm">
        <h1 class="h1Size mb2">購物車</h1>
        <div class="shoppingSteps h3Size">
            <p class="active">購買清單</p>
            <p>付款方式</p>
            <p>完成</p>
        </div>
        <ul class="shoppingList">
            <li class="row">
                <label for="" class="col d-flex align-items-center" aria-label="選取">
                    <input type="checkbox" name="" id="">
                    <img src="../images/yarn.webp" alt="" class="d-none d-sm-block">
                </label>
                <div class="col-10 col-sm m-auto m-md-0">
                    <h3 class="h2Size my1">五股牛奶棉-50g</h3>
                    <select name="" id="">
                        <option value="紅色">紅色</option>
                        <option value="咖啡色">咖啡色</option>
                        <option value="藍色">藍色</option>
                        <option value="卡其色">卡其色</option>
                        <option value="藍色">藍色</option>
                    </select>
                    <p class="h2Size text-end primaryColor">$20</p>
                </div>
                <div class="col-12 col-md-3 d-flex flex-column justify-content-end mt1">
                    <div class="shoppingBTN">
                        <button type="button">-</button>
                        <label for="" aria-label="購買數量">
                            <input type="number" name="" id="" min="0" value="1">
                        </label>
                        <button type="button">+</button>
                    </div>
                </div>
            </li>
            <li class="row">
                <label for="" class="col d-flex align-items-center" aria-label="選取">
                    <input type="checkbox" name="" id="">
                    <img src="../images/yarn.webp" alt="" class="d-none d-sm-block">
                </label>
                <div class="col-10 col-sm m-auto m-md-0">
                    <h3 class="h2Size my1">五股牛奶棉-50g</h3>
                    <select name="" id="">
                        <option value="紅色">紅色</option>
                        <option value="咖啡色">咖啡色</option>
                        <option value="藍色">藍色</option>
                        <option value="卡其色">卡其色</option>
                        <option value="藍色">藍色</option>
                    </select>
                    <p class="h2Size text-end primaryColor">$20</p>
                </div>
                <div class="col-12 col-md-3 d-flex flex-column justify-content-end mt1">
                    <div class="shoppingBTN">
                        <button type="button">-</button>
                        <label for="" aria-label="購買數量">
                            <input type="number" name="" id="" min="0" value="1">
                        </label>
                        <button type="button">+</button>
                    </div>
                </div>
            </li>
            <li class="row">
                <label for="" class="col d-flex align-items-center" aria-label="選取">
                    <input type="checkbox" name="" id="">
                    <img src="../images/yarn.webp" alt="" class="d-none d-sm-block">
                </label>
                <div class="col-10 col-sm m-auto m-md-0">
                    <h3 class="h2Size my1">五股牛奶棉-50g</h3>
                    <select name="" id="">
                        <option value="紅色">紅色</option>
                        <option value="咖啡色">咖啡色</option>
                        <option value="藍色">藍色</option>
                        <option value="卡其色">卡其色</option>
                        <option value="藍色">藍色</option>
                    </select>
                    <p class="h2Size text-end primaryColor">$20</p>
                </div>
                <div class="col-12 col-md-3 d-flex flex-column justify-content-end mt1">
                    <div class="shoppingBTN">
                        <button type="button">-</button>
                        <label for="" aria-label="購買數量">
                            <input type="number" name="" id="" min="0" value="1">
                        </label>
                        <button type="button">+</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="totalPrice">
        <label for="" class="h3Size">全選:<input type="checkbox" name="" id=""></label>
        <p class="h2Size d-flex justify-content-end align-items-center flex-wrap">總金額(3個商品):<span
                class="h1Size primaryColor">$60</span></p>
        <button type="button" class="mt1">確認購買</button>
    </div>
</main>