<main class="mt2">
    <div class="container-sm">
        <h1 class="h1Size mb2">購物車</h1>
        <div class="shoppingSteps h3Size">
            <p>購買清單</p>
            <p class="active">付款方式</p>
            <p>完成</p>
        </div>
        <div class="payInfo px-3">
            <div class="whoPay py-3">
                <p class="mb1 h3Size">收件人信息:</p>
                <div class="d-flex flex-column buyerInfo">
                    <label for="" class="mb1 d-flex flex-column">收件人姓名:<input type="text" name="" id=""></label>
                    <label for="" class="d-flex flex-column">手機號碼:<input type="text" name="" id="" maxlength="10"
                            value="09"></label>
                </div>
            </div>
            <div class="send py-3">
                <p class="mb1 h3Size">寄送方式:</p>
                <div class="marks">
                    <p class="mb-3">
                        <input type="radio" name="mark" id="familyMart" value="全家便利商店">
                        <label for="familyMart">全家便利商店</label>
                        <a href="https://www.family.com.tw/Marketing/Map" target="_blank">(店號查詢)</a>
                    </p>
                    <p class="mb-3">
                        <input type="radio" name="mark" id="sevenMark" value="7-ELEVEN">
                        <label for="sevenMark">7-ELEVEN</label>
                        <a href="https://emap.pcsc.com.tw/emap.aspx" target="_blank">(店號查詢)</a>
                    </p>
                    <label for="shopNumber">寄件店號: </label>
                    <input type="number" name="shopNumber" id="shopNumber" placeholder="請輸入店號..." required>
                </div>
            </div>
            <div class="pay py-3">
                <p class="mb1 h3Size">付款方式:</p>
                <div class="payMethod  d-flex flex-column">
                    <label for="byMoney" class="mb1"><input type="radio" name="pay" id="byMoney" class="mx-3"
                            value="貨到付款">貨到付款</label>
                    <label for="byCard" class="mb-1"><input type="radio" name="pay" id="byCard" class="mx-3"
                            value="信用卡">信用卡</label>
                </div>
                <div class="payByCardNum">
                    <label>卡號:<input type="text" maxlength="16" required></label>
                    <label>到期日:<input type="text" maxlength="2" required>　/<input type="text" maxlength="2"
                            required></label>
                    <label>安全碼:<input type="text" maxlength="4" required> </label>
                </div>
            </div>
            <div class="price py-3 d-flex flex-column">
                <p class="h3Size mb1">商品總金額:<span class="h4Size ms-3 goodsPrice">$60</span></p>
                <p class="h3Size mb1">運費總金額:<span class="h4Size ms-3">$60</span></p>
                <p class="h3Size">應付款金額:<span class="h3Size ms-3 endPrice">$120</span></p>
            </div>
        </div>
    </div>
    <div class="totalPrice">
        <h3 class="h2Size d-flex justify-content-end align-items-center flex-wrap">應付款金額:<span
                class="h1Size primaryColor">$120</span></h3>
        <button type="button" class="mt1">確認購買</button>
    </div>
</main>
<script src="/js/shoppingPay.js"></script>