<main class="mt2">
    <div class="container-sm">
        <h1 class="h1Size mb2">購物車</h1>
        <div class="shoppingSteps h3Size">
            <p class="active">購買清單</p>
            <p>付款方式</p>
            <p>完成</p>
        </div>
        <ul class="shoppingList"></ul>
    </div>
    <div class="totalPrice">
        <p class="h2Size d-flex justify-content-end align-items-center flex-wrap"></p>
        <button type="button" class="mt1">確認購買</button>
    </div>
</main>
<script src="/js/shoppingCar.js"></script>