<main class="mt2">
    <div class="container-sm">
        <h1 class="h1Size mb2">購物車</h1>
        <div class="shoppingSteps h3Size">
            <p>購買清單</p>
            <p>付款方式</p>
            <p class="active">完成</p>
        </div>
        <div class="shoppingFinish py-5">
            <div class="circle m-auto">
                <div></div>
            </div>
            <h1 class="text-center mt1">我們已成功接收您的訂單，<br>謝謝您的光臨。</h1>
            <a href="/" class="d-block text-center mt1">返回首頁 ></a>
        </div>
    </div>
</main>