<main class="container-sm my3 d-flex align-items-center flex-column">
    <div class="circle mb1">
        <div></div>
    </div>
    <h1 class="mb1 js-success">成功!5秒後跳轉回首頁</h1>
    <a href="/">返回首頁 ></a>
</main>
<script src="js/success.js"></script>