<main class="container-sm my3">
    <a href="javascript:history.back()">回上頁 ></a>
    <p class="h1Size mt1">最新審核結果</p>
    <div class="mySell"></div>
    <p class="h1Size mt1">我的收益</p>
    <table class="myGoods">
        <thead>
            <tr class="h2Size">
                <th>商品名稱</th>
                <th>銷售總額</th>
                <th>銷售數量</th>
                <th>我的獲益</th>
            </tr>
        </thead>
        <tbody class="myGoodsBody"></tbody>
    </table>
    <div class="d-block d-md-flex text-end justify-content-end mt1 align-items-center">
        <p class="h2Size mb-3 mb-md-0 me-md-3 totalRevenue">總計:$123</p>
        <button class="myGoodsBTN h3Size">提取</button>
    </div>
    <p class="h1Size my1">銷售分析</p>
    <div id="userSellNum"></div>

</main>
<script src="/js/userSell.js"></script>