<main class="container-sm my3">
    <div class="chooseBTN">
        <a href="/worksList" class="h2Size active">作品列表</a>
        <a href="/articleList" class="h2Size">技巧文章</a>
        <a href="/goodsList" class="h2Size">購買商城</a>
    </div>
    <div class="mt2 row">
        <ul class="tagList col-12 col-md js-tagChange">
            <li>分類 ></li>
            <li class="active">衣服</li>
            <li>玩偶</li>
            <li>包包</li>
            <li>花束</li>
            <li>帽子</li>
            <li>配件</li>
        </ul>
        <div class="col-lg-10 col-md-9 col">
            <div class="d-flex flex-wrap align-items-center">
                <div class="sortBTN js-sortArticle">
                    <button type="button" class="active">綜合</button>
                    <button type="button">最新</button>
                    <button type="button">最熱</button>
                </div>
                <div class="addArticleBTN">
                    <button type="button" class="h3Size js-addArticle">發布</button>
                </div>
            </div>
            <div class="article my1">
                <div class="myArticleInfo py-2">
                    <p class="d-flex flex-wrap"><span>收藏:123</span>　<span>瀏覽:1234</span></p>
                    <p class="text-end">2022-09-01 22:48:05</p>
                </div>
                <article class="row justify-content-around py-3">
                    <div class="col col-md-8 ">
                        <h1 class="textHidden h2Size pb-3">新手必學針法:短針、長針、中長針、長長針</h1>
                        <p class="textHidden-4 articleFont">
                            看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品,看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品
                        </p>
                    </div>
                    <div class="articleImg col col-md-3 d-none d-md-block"></div>
                </article>
            </div>
            <div class="article my1">
                <div class="myArticleInfo py-2">
                    <p class="d-flex flex-wrap"><span>收藏:123</span>　<span>瀏覽:1234</span></p>
                    <p class="text-end">2022-09-01 22:48:05</p>
                </div>
                <article class="row justify-content-around py-3">
                    <div class="col col-md-8 ">
                        <h1 class="textHidden h2Size pb-3">新手必學針法:短針、長針、中長針、長長針</h1>
                        <p class="textHidden-4 articleFont">
                            看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品,看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品
                        </p>
                    </div>
                    <div class="articleImg col col-md-3 d-none d-md-block"></div>
                </article>
            </div>
            <div class="article my1">
                <div class="myArticleInfo py-2">
                    <p class="d-flex flex-wrap"><span>收藏:123</span>　<span>瀏覽:1234</span></p>
                    <p class="text-end">2022-09-01 22:48:05</p>
                </div>
                <article class="row justify-content-around py-3">
                    <div class="col col-md-8 ">
                        <h1 class="textHidden h2Size pb-3">新手必學針法:短針、長針、中長針、長長針</h1>
                        <p class="textHidden-4 articleFont">
                            看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品,看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品看不懂織圖怎麼辦?別急,這次我來給你們一一敘說鉤針的基礎針法有哪些,學會這幾個手法你可以獨自完成80%的作品
                        </p>
                    </div>
                    <div class="articleImg col col-md-3 d-none d-md-block"></div>
                </article>
            </div>
            <nav class="pageList">
                <a href="javascript:;">上一頁</a>
                <div class="page">第1/4頁</div>
                <a href="javascript:;">下一頁</a>
            </nav>
        </div>
    </div>
</main>
<script type="module" src="js/worksList.js"></script>